/*!
 * A newer, cleaner stylesheet for my portfolio
 * Pls don't judge I know this looks like shit I'm working on it
 * LET ME COOK
 */

/*!
*-----------------------------------------------------------------------------------------------------------------*  
*-----------------------------------------------------------------------------------------------------------------*
* VARIABLES
*-----------------------------------------------------------------------------------------------------------------*
*-----------------------------------------------------------------------------------------------------------------*
*/

:root {
    /*! COLORS */
    --accent: #275963ff;
    --accent-light: #c0e0e6;
    --primary-bg: #fff8f6;
    --secondary-bg: #e8d6c9;
    --tertiary-bg: #f6f1ef;
    --primary-font: #5a5453;
    --secondary-font: #84807d;
    --dark:#333130;
    /*! FONT TBD*/
    --content-p: 1.1rem;
    --content-lh: 1.8rem;
    /*! SPACING TBD*/
  }

/*! DARK MODE 
*-----------------------------------------------------------------------------------------------------------------*/
@media (prefers-color-scheme: dark) {
    :root {
        --accent: #FFF3E0;
        --accent-light:#4d463c;
        --primary-bg: #1e3f47;
        --secondary-bg: #204d59;
        --tertiary-bg: #29525d; 
        --primary-font: #d7f2f7;
        --secondary-font: #92c5cc;
        --dark:#f7ead7;
    }
}
    
/*! UNUSED VARIABLES
*-----------------------------------------------------------------------------------------------------------------*/

/*! Classroom
:root {
    --accent: #A5BCBE;
    --secondary-bg: #E4E4E4;
    --primary-bg: #efeded;
    --tertiary-bg: #B88393;
    --quart-bg: #4f8388;
    --secondary-font: #535353;
    --primary-font: #303030;
    --content-p: 1.1rem;
    --content-lh: 1.8rem;
  }
*/

  /*! Sunflower 
    :root {
     --accent: #fcd53f;
    --tertiary-bg: #fff4c0;
    --secondary-bg: #f1eee4;
    --primary-bg: #fffef9;
    --secondary-font: #697063;
    --primary-font: #332e1f;
    --content-p: 1.1rem;
    --content-lh: 1.8rem;
  }
  */


/*!
*-----------------------------------------------------------------------------------------------------------------*  
*-----------------------------------------------------------------------------------------------------------------*
* MOBILE-FIRST YA FEEL
*-----------------------------------------------------------------------------------------------------------------*
*-----------------------------------------------------------------------------------------------------------------*
*/

html {
    font-size: 100%;
}

body {
    font-family: 'Work Sans',  sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: var(--primary-font);
    background-color: var(--primary-bg);
}

/*! HEADINGS
*-----------------------------------------------------------------------------------------------------------------*/

h1,h2,h3{
    text-wrap:balance;
    font-variant-ligatures: no-common-ligatures;
}

h1 {
    font-family: 'Young Serif', serif;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom:1.5rem;
}

h2 {
    font-family: 'Young Serif', serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 1.5rem;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: .75rem;
    line-height: 2.2rem;
    font-family: 'Young Serif', sans-serif;
    color:var(--secondary-font);
}

h4 {
    font-weight: 600;
}

.heading {
    text-wrap:balance;
}

.heading-subtext {
    font-size: 1rem !important;
    line-height: 1.7rem !important;
}

.hero h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 800;
}

/*! ROOT PAGE HEADINGS
*-----------------------------------------------------------------------------------------------------------------*/

.heading {
    padding-top: 3rem;
}

.heading h1 {
    margin-bottom: 1rem;
}

.heading p {
    font-size: var(--content-p);
    line-height: var(--content-lh);
}

.sun {
    display:none;
}


/*! FOOTER
*-----------------------------------------------------------------------------------------------------------------*/

.footer .container {
    border-top: solid 1.5px var(--secondary-bg);
    padding: 1.5rem;
    line-height: var(--content-lh);
    margin-top: 3rem;
}

.footer h3 {
    font-size: .9rem;
    margin-bottom: .5rem;
    font-family: 'Work Sans', sans-serif;
    font-weight:400;
}

.footer li {
    list-style-type: none;
    font-size:1rem !important;
    line-height: 1.7rem !important;
}

.footer ul {
    padding-left: 0rem;
}

.footer .col-sm-2 {
    margin-bottom: 1rem;
}

.footer .offset-lg-2 {
    text-wrap: balance;
}

.footer .offset-0 {
    margin-top: 1rem;
}

.footer nav li {
    margin-right: 1rem;
    display: inline-block;
    padding-bottom: .5rem;
}


/*! PROJECTS
*-----------------------------------------------------------------------------------------------------------------*/

.project {
    margin-bottom: 4rem;
}

.project:last-of-type {
    margin-bottom: 2rem;
}

.project-heading {
    display: flex;
    align-items:center;
}

.project img {
    width: 100%;
    transition: .2s ease-out;
    box-shadow: 0 1.2px 6.7px -32px rgba(0, 0, 0, 0), 0 2.8px 16.2px -32px rgba(0, 0, 0, 0), 0 5.3px 30.4px -32px rgba(0, 0, 0, 0), 0 9.4px 54.3px -32px rgba(0, 0, 0, 0), 0 17.5px 101.5px -32px rgba(0, 0, 0, 0), 0 42px 243px -32px rgba(0, 0, 0, 0);
    border:solid .5px var(--secondary-bg);
}

.project h2 {
    margin-bottom: 1rem;
    transition: .2s ease-out;
}

.project h2 a {
    text-decoration:underline;
}

.project .row:nth-child(2) {
    margin-bottom: 0rem;
}

.project .row:nth-child(2) .col-lg-4 {
    margin-bottom: 1rem;
}

.project-client {
    margin-bottom: 0px;
    font-weight:700;
}


/*! CONTENT 
*-----------------------------------------------------------------------------------------------------------------*/

.content {
    padding-top: 3rem;
}

.before-after div:first-of-type {
    color:var(--secondary-font);
}

article h2 {
    margin-top: 3rem;
}

article h2:first-of-type {
    margin-top: 0rem;
}

.content p,
.content li,
.content h4 {
    font-size: var(--content-p);
    line-height: var(--content-lh);
}

.content img {
    border-radius: 4px;
    border: 1.5px solid var(--secondary-bg);
}

aside[role="note"],
aside[role="note"] p {
    color: var(--secondary-font);
    font-size: 1rem;
    line-height: 1.6rem;
}

aside[role="note"] p {
    margin-bottom: 0rem;
}

.h-desc {
    display:block;
    font-family: 'Work Sans', sans-serif;
    font-size: var(--content-p);
    font-weight: 400;
    line-height: var(--content-lh);
    margin-bottom: 1rem;
    color:var(--secondary-font);
}

.content li {
    margin-bottom: .5rem;
}

article h3 {
    margin-top: 2rem;
}

article figure {
    margin: 2rem 0rem;
}

article figure img,
article figure video, article figure iframe {
    border-radius: 4px;
    margin-bottom: 1rem;
    width: 100%;
    border: 1.5px solid var(--secondary-bg);
}

article figcaption {
    font-size: 1rem;
    line-height: 1.6rem;
    color: var(--secondary-font);
    padding: 0rem 1rem;
}

article blockquote {
    padding: 0rem 1.5rem;
    margin-bottom: 0rem;
    border-left: solid 2px var(--secondary-bg);
}

article blockquote + figcaption {
    padding: 0rem 1.5rem;
    font-style: italic;
    border-left: solid 2px var(--secondary-bg);
}

.jk-grey {
    background-color: var(--tertiary-bg);
    border-radius: 4px;
    padding: 2rem;
}

.jk-card {
    transition: .2s ease-out;
}

.feature-img {
    margin: 2rem;
}

.h-anchor:link,
.h-anchor:visited {
    font-weight: 500;
    position: relative;
    text-align: center;
    font-size: 1em;
    margin-right: .5rem;

}

/*! Root page lists 
*-----------------------------------------------------------------------------------------------------------------*/

.big-list {
    margin-top: 1rem;
}

.big-list p, .big-list blockquote {
    margin-bottom:.5rem;
}

.big-list li:not(:last-child),
.big-list li:not(:last-child) {
    margin-bottom: 1rem;
}

.big-list ol,
.big-list ul {
    margin-top: 1rem;
}

.big-list small {
    font-size: 1rem;
    color: var(--secondary-font);
}

.big-list li {
    padding:1.5rem;
}

/*! Speaking page
*-----------------------------------------------------------------------------------------------------------------*/

.writing {
    list-style: none;
    padding-left: 0rem;
}

.writing li {
    padding-bottom: 2rem;
    padding-top: 2rem;
    border-bottom: 1.5px solid var(--secondary-bg);
    display: flex;
    margin-bottom: 0rem !important;
    flex-wrap: wrap;
}

.writing li:hover h2 a {
    text-decoration-color:var(--accent);
}

.writing li:hover img {
    border:solid 4px var(--accent);
}

.writing img {
    width: 100%;
    border-radius: 4px;
    object-fit: cover;
    border: solid 1.5px var(--secondary-bg);
    margin-top: 1.5rem;
    transition: .2s ease-out;
}

.writing li:last-child {
    border-bottom: 0px;
    padding-bottom: 0px;
}

.writing li:first-child {
    padding-top: 0px;
}

.writing time {
    font-weight: bolder;
}

.writing-heading a h2 {
    margin-left: 0rem;
    transition: .2s ease-out;
    margin-bottom: 1rem;
}

.writing-feature {
    width:100%;
    margin: 2rem 0rem 0rem 0rem;
}

.writing-feature iframe {
    height: 180px;
    border-radius: 4px;
}


/*! Resume CSS
*-----------------------------------------------------------------------------------------------------------------*/

.resume h3 {
    margin-top: 3rem;
    margin-bottom: .5rem;
    color:var(--primary-font);
}

.resume h3:first-of-type {
    margin-top: 0rem;
}

.resume h4 {
    margin-bottom: 0rem;
    color:var(--secondary-font);
}

.r-role {
    font-weight: bolder;
}

p[role="note"] {
    color: var(--secondary-font);
}

.writing a span[role="note"] {
    text-decoration: none !important;
}

.r-side {
    padding-left: 0rem;
}

.r-side section:not(:first-child), .r-main section:not(:first-child) {
    margin-top: 3rem;
}

.r-sum {
    padding-left: 1.5rem;
    border-left: 1.5px solid var(--secondary-bg)
}

.r-side ul {
    list-style: none;
    padding-left: none;
    margin-left: none;
    padding-inline-start: 0px;
}

/*! Navigation
*-----------------------------------------------------------------------------------------------------------------*/

.jnav {
    padding: 1.5rem 0rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.jnav ul {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
}

.jnav li {
    display: inline-block;
}

.divider {
    flex-grow: 1;
    border-bottom: 1.5px solid var(--secondary-bg);
    margin: 0rem 1rem;
    transition: .2s ease-out;
}

.jnav:hover .divider {
    margin: 0rem 2rem;
    transition: .2s ease-out;
}

.jnav a:link,
.jnav a:visited {
    color: var(--secondary-font);
}

.jnav a[aria-current=true] {
    color: var(--primary-font);
    text-decoration:none;
    transition: .2s ease-out;
}

.jnav a:hover {
    color:var(--primary-font);
    transition: .2s ease-out;
}


.jnav li {
    padding: 0rem .3rem;
}

.jnav li:last-of-type {
    padding-right:0rem;
}

.header-logo a:last-child {
    text-decoration: none;
    border-bottom: solid 1.5px var(--accent);
    /* text-decoration-color: #ffe66b; */
    color: var(--primary-font);
}

/*! Breadcrumbs
*-----------------------------------------------------------------------------------------------------------------*/

nav.breadcrumbs {
    font-size: 1rem;
    line-height: 1.7rem;
    color:var(--secondary-font);
}

nav.breadcrumbs ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

nav.breadcrumbs li {
    display: inline;
}

nav.breadcrumbs li + li::before {
    content: '/\00a0';
}

nav.breadcrumbs [aria-current="page"] {
    font-weight: bolder;
    text-decoration: none;
}

/*! UTILITY 
*-----------------------------------------------------------------------------------------------------------------*/

.no-border {
    border:none !important;
}

.sr-only {
    left: -200vw;
    position: absolute;
}

.no-list {
    list-style-type: none;
}

.ht {
    border-top: solid var(--secondary-bg) 1.5px;
}

.mt {
    margin-top: 2rem;
}

.m-mt {
    margin-top: 1.5rem;
}

.xxl-only {
    display: none;
}

.xl-only {
    display: none;
}

.co {
    color:var(--accent);
}

/*! SKIP Links
*-----------------------------------------------------------------------------------------------------------------*/

a.skip-main {
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;
}

a.skip-main:focus,
a.skip-main:active {
    background-color: var(--accent-light);
    left: auto;
    top: 0px;
    padding: 1rem;
    width: 100%;
    height: auto;
    overflow: auto;
    text-align: center;
    font-size: 2rem;
    z-index: 999;
}

a {
    color: inherit;
    transition: .2s ease-out;
    text-decoration-color:var(--secondary-font);
}

/*! Root page lists 
*-----------------------------------------------------------------------------------------------------------------*/

.big-list {
    list-style: none;
    padding-left: none;
    margin-left: none;
    padding-inline-start: 0px;
}

.big-list li:first-child {
}

.big-list li:last-child {
}

.big-list li {
    border: 1.5px solid var(--secondary-bg);
    background-color: var(--tertiary-bg);
    border-radius: 4px;
    transition: .2s ease-out;
}

.external-link {
    background-image: url(../img/icons/arrow-up-right.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

.copyright p {
    font-size: .9rem !important;
    font-family: monospace;
    color:var(--secondary-font);
    text-wrap:balance;
}

/*! Receipt effect
*-----------------------------------------------------------------------------------------------------------------*/

.receipt img, .receipt p {
    display:none;
}

/*! Hover and Focus
*-----------------------------------------------------------------------------------------------------------------*/
a:hover {
    color:var(--accent);
    text-decoration-color: var(--accent);
    transition: .2s ease-out;
}

a:focus, a:link:focus, a:visited:focus, a[aria-current=true]:focus {
    outline: 3px solid transparent;
    outline-offset: 3px;
    background-color:var(--accent-light);
    text-decoration:none;
    color:var(--accent);
    border-bottom:2px solid var(--accent);
    border-radius:2px;
}

/*!
*-----------------------------------------------------------------------------------------------------------------*  
*-----------------------------------------------------------------------------------------------------------------*
* TABLET AT 768
*-----------------------------------------------------------------------------------------------------------------*
*-----------------------------------------------------------------------------------------------------------------*
*/

@media only screen and (min-width: 768px) {

    :root {
        --content-p: 1.2rem;
        --content-lh: 2.2rem;
      }

    /*! Heading */
    
    .jnav li {
        padding: 0rem .8rem;
    }

    h1 {
        font-size: 3rem;
        line-height: 4rem;
    }

    .heading {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .hero h1 {
        font-size: 5rem;
        line-height: 5rem;
    }

    .heading p {
        font-size: 1.6rem;
        line-height: 2.6rem;
    }

    .footer .offset-lg-2 {
        text-align:right;
    }

    .footer .espresso {
        cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>☕</text></svg>") 16 0,auto; 
    }

    .footer .depresso {
        cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🥲</text></svg>") 16 0,auto; 
    }

    .footer .offset-0 {
        margin-top: 0rem;
    }

    .footer .container {
        padding:2rem 3rem;
        margin-bottom: 4rem;
        transition: .2s ease-out;
    }
    
    .footer .container:hover {
        border-top:solid 6px var(--secondary-bg);
        transition: .2s ease-out;
        background-color:var(--tertiary-bg);
    }

    /*! CONTENT
    *-----------------------------------------------------------------------------------------------------------------*/
    .project {
        margin-bottom: 6rem;
    }

    .project h2 {
        padding-bottom: 1.5rem;
        margin-bottom: 1.5rem;
        border-bottom: solid 1.5px var(--secondary-bg);
    }

    .project .row:nth-child(2) {
        margin-bottom: 1.5rem;
    }

    .project-client {
        margin-bottom: 0px;
    }

    .project .internal-link {
        height: 2rem;
        display: hidden !important;
    }

    .project-link {
        display: inline-block;
        width: 2.3rem;
        height: 2.3rem;
        margin-left: 1rem;
    }

    .writing li {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    
    .writing img {
        width:100%;
        transition: .2s ease-out;
    }

    h2 {
        font-size: 2.4rem;
        line-height: 3.2rem;
    }

    h3 {
        font-size: 1.6rem;
        line-height: 2rem;
        margin-bottom: 1rem;
    }

    .content p,
    .content li,
    .content h4 {
        font-size: var(--content-p);
        line-height: var(--content-lh);
    }

    article h3 {
        margin-top: 2.5rem;
    }

    article figcaption {
        padding: 1rem 2rem;
        font-size: 1rem;
    }

    article .col-lg-3 figcaption {
        padding: 1rem 0rem;
    }

    article figure {
        margin: 3rem 0rem;
    }

    .big-list li:not(:last-child),.big-list li:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    .big-list li:hover {
        transform: rotate(.5deg) scale(1.07) translate(.5rem);
        transition: .2s ease-out;
        border:var(--primary-bg) solid 4px;
        box-shadow: 0 0 0px 4px var(--secondary-bg);
    }

    .big-list li:hover h3, .big-list li:hover small {
        color:var(--dark);
    }

}


/*!
*-----------------------------------------------------------------------------------------------------------------*  
*-----------------------------------------------------------------------------------------------------------------*
* DESKTOP AT 992
*-----------------------------------------------------------------------------------------------------------------*
*-----------------------------------------------------------------------------------------------------------------*
*/

@media only screen and (min-width: 992px) {

    /*! HEADINGS
    *-----------------------------------------------------------------------------------------------------------------*/

    h1 {
        font-size: 4rem;
        line-height: 5rem;
    }

    .heading {
        padding-top: 8rem;
    }

    .m-mt {
        margin-top: 0rem;
    }

    .project {
        margin-bottom: 8rem;
    }

    .project .row:nth-child(2) .col-lg-4 {
        margin-bottom: 0rem;
    }

    .project:hover h2 {
        color:var(--accent);    
    }

    
    .project:hover .row .col-lg-4 img, .project:focus-within .row .col-lg-4 img {
        transition: .2s ease-out;
        border:solid 4px var(--accent);
        box-shadow: 0 0 0px 4px var(--accent-light);
    }

    .project:hover .row .col-lg-8 img, .project:focus-within .row .col-lg-8 img {
        transition: .2s ease-out;
        border:solid 4px var(--accent);
        box-shadow: 0 0 0px 4px var(--accent-light);
    }


    /*! CONTENT
    *-----------------------------------------------------------------------------------------------------------------*/

    .content {
        padding-top: 5rem;
        padding-bottom: 5rem;

    }

    /*! Utility */

    .xl-only {
        display: block;
    }

    .writing li {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 0rem !important;
    }

    .writing img {
        margin-right: 3rem;
        width: 400px;
        height: 250px;
        border-radius: 4px;
        margin-top: 0rem;
        transition: .2s ease-out;
        opacity: .8;
        filter: grayscale(100%);
    }

    .writing-img {
        order:1;
    }

    .writing-content {
        order:2;
        text-wrap: balance;
    }

    .writing h2 {
        text-wrap:wrap;
    }
    
    .writing li:hover img, .writing li:focus-within img {
        transition: .2s ease-out;
        opacity: 1;
        filter: grayscale(0%);
        transform: rotate(-.5deg) translate(-1rem) scale(1.1);
        border:solid 4px var(--accent);
        box-shadow: 0 0 0px 4px var(--accent-light);
    }

    .writing  li:hover h2{
        color:var(--accent);
    }
    
    .writing-feature iframe {
        height: 480px;
        border-radius: 4px;
    }
    
    /*! resume */
    .r-side {
        padding-left: 2rem;
    }
    
    /*! big list */

    .big-list li {
        padding:2rem;
    }

    .big-list li:not(:last-child),.big-list li:not(:last-child) {
        margin-bottom: 2rem;
    }

}

/*!
*-----------------------------------------------------------------------------------------------------------------*  
*-----------------------------------------------------------------------------------------------------------------*
* CHONKY BOI AT 1100
*-----------------------------------------------------------------------------------------------------------------*
*-----------------------------------------------------------------------------------------------------------------*
*/

@media only screen and (min-width: 1200px) {

    .xxl-only {
        display: block;
    }
    
    /*! Delight 
    *-----------------------------------------------------------------------------------------------------------------*/

    .receipt img {
        position: absolute;
        width: 150%;
        left: -8.5rem;
        bottom: -4rem;
        z-index: 99;
        display: block;
        transition: .2s ease-out;
    }

    .receipt img:first-child {
        opacity:0;
    }

    .heading:hover .receipt img:nth-child(2) {
        opacity:0;
    }

    .heading:hover .receipt img:first-child {
        opacity:1;
    }

    .heading:hover .receipt img {
        transform:rotate(.5deg) scale(1.02);
    }


    .kress:hover:after {
        content:"";
        display:block;
        height:400px;
        background:url("../img/thumb/artifacts/kress.png") no-repeat;
        transition: .2s ease-out;
        position:relative;
        transition:.2s ease-in-out;
    }

}

/*!
*-----------------------------------------------------------------------------------------------------------------*  
*-----------------------------------------------------------------------------------------------------------------*
* BIG BOI AT 1375
*-----------------------------------------------------------------------------------------------------------------*
*-----------------------------------------------------------------------------------------------------------------*
*/

@media only screen and (min-width: 1375px) {

    .xxl-only {
        display: block;
    }

}

/*!
*-----------------------------------------------------------------------------------------------------------------*  
*-----------------------------------------------------------------------------------------------------------------*
* REDUCE MOTION
*-----------------------------------------------------------------------------------------------------------------*
*-----------------------------------------------------------------------------------------------------------------*
*/

@media (prefers-reduced-motion: reduce) {
    
    .writing img {
        filter: grayscale(0%);
    }

    .project:hover .row .col-lg-4 img, .project:focus-within .row .col-lg-4 img {
        transform: rotate(0deg) scale(1);
    }

    .project:hover .row .col-lg-8 img, .project:focus-within .row .col-lg-8 img {
        transform: rotate(0deg) scale(1);
    }

    .writing li:hover img{
        transition: .2s ease-out;
        opacity: 1;
        filter: grayscale(0%);
        transform: rotate(0deg) translateX(0px) scale(1);
    }

    .jnav:hover .divider {
        margin: 0rem 1rem;
    }

    .footer .container:hover {
        transition: .2s ease-out;
    }

    .heading:hover .receipt img {
        transform:rotate(0deg);
    }

    .big-list li:hover {
        transform: rotate(0deg) scale(1) translate(0rem);
        transition: .2s ease-out;
        border:var(--accent) solid 1.5px;
        border-radius:0px;
    }
    
    
}
