/*! skip link */
a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}

a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

/*! utility */
.sr-only {
    left: -100vw;
    position: absolute;
}

p a, li a {
    color: #212529;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: #212529;
}

.logo-p {
    background-image: url(../img/logo/sm-logo.png);
    width: 12rem;
    height: 12rem;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    z-index: -1;
    opacity: .3;
}

/*! navigation */

.nav-logo {
    margin-left: 7px;
}

.nav-logo img {
    padding: 5px;
    max-width: 150px;
}

.nav-border {
    padding: 2rem 0rem;
}

.desktop-nav {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.desktop-nav li {
    list-style: none;  
    margin-left: 1.5rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    font-family: 'Castoro', serif;
    transition: all .2s ease;
}

.desktop-nav li:not(:last-child) {
        border-bottom: #fff solid 3px;
        
    }

.desktop-nav li:not(:last-child):hover {
        border-bottom: #dab238 solid 3px;
        
    }

.desktop-nav li a {
    text-decoration: none;
    color: #333;
}


[aria-current] {
    border-bottom: 3px solid #dab238 !important;
    font-weight: 700;
    color: #333;
  }

.donate {
    border-bottom: 0px;
    border-color: black;
    transition: all .2s ease;
    margin-bottom: 3px;
}

.donate:hover {
    border-color: black;
}

.nav-scroller {
    display: none;
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}


/*! button styles */

.btn-primary {
    background-color: #ffe000;
    border: solid 1px #f5d807;
    background-size: cover;
    border-radius: 54px;
    padding: 1.5rem;
    font-weight: 700;
    font-size: inherit;
    transition: all 0.15s ease;
}

.btn-primary:hover {
    background-color: #212529;
    font-weight: 700;
    transition: all 0.15s ease;
}

.btn-primary:hover a {
    color: white !important;
}

.btn-primary:disabled {
    background-color: transparent;
    border-radius: 1em 0 1em 0;
    background-image: linear-gradient(-100deg, rgba(255, 224, 0, 0.56), rgba(255, 224, 0, 0.84) 95%, rgba(255, 224, 0, 0.28));
    padding: .5rem 1rem;
    color: #000 !important;
    font-size: inherit;
    font-weight: 700;
    border: 0px;
}



/*! section styles */

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

html {
    font-size: 20px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.heading h1 {
    font-size: 4rem;
}

.heading p {
    font-size: 2rem;
}

footer {
    border-top: solid #f1f1f1 2px;
    padding: 3rem;
}

footer h3 {
    font-size: 1rem;
}

footer p, footer li {
    font-size: .8rem;
}

footer li {
    margin-bottom: .5rem;
}

footer ul {
    list-style-type: none;
    padding-inline-start: 1rem;
    border-left: solid #f1f1f1 2px;
}


/*! spacing styles */

.pd-l {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.pd-s {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.m-l {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/*! image styles*/
img {
    max-width:100%;
}


/*! color styles */
.bg-grey {
    background-color: #f1f1f1;
    margin: 2rem 0rem;
    padding: 3rem;
}

.bg-line {
    padding: 4rem;
    border-left: solid #f1f1f1 2px;
    margin: 2rem 0rem 0rem 0rem;
}

.bg-line .row:not(:last-child) {
    margin-bottom: 3rem;
}


/*! paragraph styles */

h1, h2, h3 {
    font-family: 'Castoro', serif;
}

h2 {
    margin-bottom: 1.5rem;
}

.bg-grey h3 {
    margin-top: 1.5rem;
}

.bg-line h2 {
    transform: rotate(270deg);
    position: absolute;
    margin-left: -320px;
    margin-top: 180px;
    text-align: right;
    color: #e7e7e7;
    font-size: 8rem;
}

/*! breakpoint at 992 */
@media only screen and (max-width: 992px) {
    
    /*! navigation */
    .nav-scroller {
        display: inline;
    }

    .desktop-nav li:not(:last-child) {
        display:none;
    }
    
    .mobile-nav {
        padding-inline-start: 0px;
    }
    
    .mobile-nav li {
        list-style: none;  
        margin-left: 1rem;
        padding-top: 1rem;
        padding-bottom: .5rem;
        font-family: 'Castoro', serif;
        border-bottom: #fff solid 3px;
        transition: all .2s ease;
    }
    
    .mobile-nav li:first-child {  
        margin-left: 0rem !important;
    }

    .mobile-nav li a {
        text-decoration: none;
        color: #333;
        font-size: 1.2rem;
    }
    
    .donate {
        margin-bottom: 0rem;
        margin-right: 15px;
    }

    .mobile-nav li:hover {
        border-bottom: #dab238 solid 3px;
    }
    
    .heading h1 {
        font-size: 2.5rem;
    }

    .heading p {
        font-size: 1.5rem;
    }
    
    .pd-i {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .bg-grey {
        margin: 0rem;
    }
    
    .bg-line img {
        margin-bottom:2rem;
        max-width: 60%;
    }
    
    footer .col-lg-4:not(:first-child) {
        margin-top: 2rem;
    }
    
}

/*! breakpoint tablet 2 */
@media only screen and (max-width: 767px) {
    
    .pd-l {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    
}

/*! breakpoint mobile */
@media only screen and (max-width: 662px) {
    
    html {
        font-size: 16px;
    }
    
    .nav-logo img {
        max-width: 10rem;
    }
    
    .nav-border {
        padding: 1rem 0rem;
    }
    
    .donate {
        font-size: 1.2rem;
    }
    
    /*! section styles */

    .heading h1 {
        font-size: 2.5rem;
    }

    .heading p {
        font-size: 1.5rem;
    }
    
    .pd-l {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    
    .bg-grey {
        padding: 2rem;
    }
    
    .bg-line {
        padding: 2rem;
    }
    
    .bg-line h2 {
        transform: rotate(0deg);
        position: relative;
        margin-left: initial;
        margin-top: initial;
        text-align: left;
        color: initial;
        font-size: 2rem;
    }

    
}