/*! skip link */
a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}

a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#6227EB;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:10px;
    border-radius: 15px;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

/*! utility */
.sr-only {
    left: -100vw;
    position: absolute;
}

.d-only {
    display:none;
}

/*! navigation */

.p-nav ul {
    list-style: none;
    overflow-x: scroll;
    white-space: nowrap;
    padding-left: 0px;
    margin-bottom: 0px;
}

.p-nav li {
    display: inline-block;
    line-height: 20px;
    font-size: .9rem;
}

.header .container {
    display: flex;
    flex-flow: column;
    justify-content: stretch;
}

.header-logo {
    padding: 0px 0px;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo a:first-child {
    color: #344333;
    text-decoration: none;
    display: flex;
}

.header-nav {
    border-top: 1px solid #E0E7E9;
}

.logo {
    background-image: url(../img/logo/phalanx.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 2rem;
    margin-right: 5px;
    transition: .4s ease-in;
}

.header-logo:hover .logo {
    transform:rotateY(360deg);
    transition: .4s ease-out;
}

.p-nav a:link,
.p-nav a:visited {
    text-decoration: none;
    display: block;
    color: #545454;
    padding: .7rem 0rem;
    transition: .2s ease;
}

.p-nav a[aria-current=true] {
    font-weight: bold;
    color: #344333;
}

.p-nav a:hover {
    transform: translateY(-5%);
    transition: .2s ease;
}

.p-nav li {
    padding: 0rem .3rem;
}

.p-nav li:first-of-type {
    padding-left: 0rem;
}

.contact {
    display: none !important;
}

.header-logo a:last-child {
    text-decoration: underline;
    color: #6227EB;
    font-size: 1rem;
}

/*! heading */

h1 {
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
}

.heading {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.heading p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 2rem;
}

/*! Content */

.content {
    padding-top: 3rem;
    padding-bottom: 3rem;

}

.content h1 {
    margin-bottom: 1.5rem;
}

.content h2 {
    font-weight: bold;
    font-size: 1.7rem;
    margin-bottom: 1rem;
    line-height: 2.2rem;
}

.content h3 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.content p,
.content li {
    font-size: 1.1rem;
    line-height: 2rem;
}

.content li {
    margin-bottom: 1rem;
}

/*! Card */
.p-card {
    border: solid 3px #000;
    padding: 1rem;
    height: 100%;
}

.p-card ul {
    margin-left: 0rem;
    list-style: lower-greek;
    padding-inline-start: 1.2rem;
}

.p-card-img {
    border: solid 3px #000;
    height: 100%;
    max-height: 8rem;
}

.p-card-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.col-md-12 {
    margin-top:1.5rem;
}

/*! footer  */

.footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: solid #eaeaea 2px;

}

.footer h3 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.footer p,
footer li {
    font-size: 1rem;
    line-height: 1.7rem;
}

.footer li {
    list-style-type: none;
}

.footer ul {
    padding-left: 0rem;
}

.footer .col-md-6 {
    margin-bottom: 2rem;
}

.footer nav li {
    margin-right: 1rem;
    display: inline-block;
    padding-bottom: .5rem;
}

/*! section styles */

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

html {
    font-size: 18px;
}

body {
    font-family: 'Poppins', sans-serif;
}

.circuit-bg {
    background-color: #fafafa;
    border-top: solid 2px #e4e4e4;
    border-bottom: solid 2px #e4e4e4;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23dfd3fb' fill-opacity='0.4' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
}

.circuit-bg img {
    position: absolute;
    top: 220px;
    right: 0px;
    mix-blend-mode: darken;
}

.grey-bg {
    background-color: #fafafa;
}

/*! paragraph styles */

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

/*! links and buttons */
    
.primary-link {
    background-color:#6227EB;
    color: white;
    padding: .5rem 1rem;
    font-weight: bolder;
    border-radius: 2px;
    transition: .2s ease;
    margin-top: 2rem;
}

.primary-link:hover {
    color: white !important;
    text-decoration: none;
    transition: .2s ease;
    background-color: #410fb6;
}

.primary-link:hover i {
    transition: .2s ease;
    transform: translateX(.25rem);
}

.primary-link i {
    width: 1.5rem;
    height: 1rem;
    margin-left: 1rem;
}

.r-chevron {
    background-image: url(../img/assets/right-chevron.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

/*! spacing styles */
.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.m1 {
    margin: 1rem 0rem;
}

.m2 {
    margin: 2rem 0rem;
}


@media only screen and (min-width: 768px) {

    /*! navigation */
    
    .p-nav li {
        padding: 0rem .8rem;
        font-size: 1rem;
    }

    /*! heading */

    h1 {
        font-size: 2rem;
        line-height: 2.7rem;
    }

    .heading {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .heading p {
        font-size: 1.5rem;
        line-height: 2.4rem;
    }

    /*! footer */

    .footer {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

/*!
 * Web 992 Web 992 Web 992 Web 992 Web 992 Web 992 Web 992
 */
 @media only screen and (min-width: 992px) {

    /*! Heading */

    h1 {
        font-size: 3rem;
        line-height: 4rem;
        margin-bottom: 2rem;
    }

    .heading {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    

    /*! footer */

    .footer {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .footer p,
    .footer li {
        font-size: 1.1rem;
        line-height: 2rem;
    }

    /*! utility */
    .d-only {
        display:block;
    }


    /*! Content */


    .content {
        padding-top: 5rem;
        padding-bottom: 5rem;

    }

    .content h1 {
        font-size: 3rem;
        line-height: 3.5rem;
        margin-bottom: 2rem;
    }

    .content h2 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        line-height: 2.8rem;
    }

    .content h3 {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }
    
    /*! Card */
    .p-card {
        padding: 1.5rem;
    }

    .p-card ul {
        margin-left: 0rem;
        padding-inline-start: 2rem;
    }

    .p-card-img {
        max-height: none;
        border-bottom: solid 3px #000;
    }


    /*! Navigation */
    .header .container {
        align-items: center;
        justify-content: space-between;
        flex-flow: row;
    }

    .header-nav {
        border-top: none;
    }

    .header {
        margin: .5rem 0rem;
    }

    .header-logo a:last-child {
        display: none;
    }

    .p-nav ul {
        white-space: normal;
        overflow-x: initial;
    }

    nav.breadcrumbs {
        border-top: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;
    }

    .contact {
        display: inline-block !important;
        transition: .2s ease;

    }

    .contact a {
        color: #6227EB !important;
        font-weight: bolder;
        text-decoration: underline !important;
    }


}